.DS_Store
.build
/Packages
/*.xcodeproj

# jazzy
/build
/Parsel.json

# codecov
*.coverage.txt

# playground contents (copied via make playground)
/parsel.playground/playground.xcworkspace
/parsel.playground/Pages/parsel.xcplaygroundpage/Sources/*
