.DS_Store
.build
/Packages
/*.xcodeproj

# jazzy
/build
/Parsel.json

# codecov
*.coverage.txt

# playground contents (generated via make playground)
/parsel.playground/playground.xcworkspace
/parsel.playground/Sources/*
